html{
  min-height: 100%;
}


  .title {
    width: 300px;
    height: 300px;
    margin: 0;
    padding: 20px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: contain; /* or cover, depending on your preference */
    background-position: center top;
    background-size: 100%;
  }
  
body {
  min-height: 100vh;
  font-family: monospace;
  text-align: center;
  padding: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image:url(/assets/dg848s9-82244cc8-2570-4256-b4b0-b7d809f8a30f.png); 
  }

  p {
    color: white;
  }

button {
  font-size: 20px;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  color: red;
  background-color: black;
  font-family:monospace ;
  text-align: center;
  border-radius: 50px;
}

#result {
  margin-top: 20px;
  font-size: 18px;
  color: red;
}
#restartButton {
  display: none;
  font-size: 16px;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  color: white;
  border-radius: 50px;
}

.gun{
    padding: 10px;
    height: 200px;

}

.flipped {
  transform: scaleX(-1);
}

.blankOne {
height: 300px;
width: 300px;
border-radius: 50px;
}

.blankTwo{
height: 300px;
width: 300px;
border-radius: 50px;
}

.hidden{
  display: none;
}

.gallery button img, .gallery button {
  border: none;
  height: 100px;
  width: 100px;
  margin: 0;
  padding: 0;
}


